{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
</head>

<body>
  {% block content %}

  <h1>Welcome, {{ request.user.username }}!</h1>

  {% for tweet in tweets %}

  <div class="card">
    <a href='/user/{{tweet.user.id}}'>
      <h5 class="card-header">{{ tweet.user.username }}</h5>
    </a>
    <div class="card-body">
      <a href='/tweet/{{tweet.id}}'>
        <h5 class="card-title">{{ tweet.body }}</h5>
      </a>
      <p class="card-text">{{ tweet.post_created }}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  {% endfor %}

  {% endblock %}
</body>

</html>